.main-contents {
  @include flexbox;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  * {
    color: #fff;
    text-align: center;
  }

  &-text {
    width: 100%;
  }

  &-time {
    display: block;
    font-size: 168px;
    line-height: 1;
  }

  &-greeting {
    @include flexbox;
    position: relative;
    left: 30px;

    &:hover {
      .more-btn {
        visibility: visible;
      }
    }

    .greeting-text {
      overflow: hidden;
      font-size: 54px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .more-menu {
      position: relative;
      left: 10px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &-form {
    position: absolute;
    bottom: 100px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    label {
      display: block;
      margin-bottom: 12px;
      font-size: 35px;
    }

    input {
      width: 100%;
      font-size: 36px;
      border-bottom: 3px solid #fff;
    }

    p {
      margin-top: 12px;
      font-size: 20px;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }

  .edit-name-input {
    display: block;
    width: 100%;
    border-bottom: 3px solid #fff;
  }

  .greeting-message {
    margin-top: 12px;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  .logout {
    @include pos-center(fixed);
    z-index: 500;
    min-width: 290px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    &-title {
      padding-bottom: 10px;
      margin-bottom: 30px;
      font-size: 24px;
      color: #000;
      text-transform: uppercase;
      border-bottom: 1px solid #767676;
    }

    &-text {
      margin-bottom: 30px;
      font-size: 20px;
      color: #000;

      strong {
        color: #000;
      }
    }

    &-btn-wrap {
      @include flexbox;

      button {
        padding: 10px 30px;
        background-color: #000;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;

        &:first-child {
          margin-right: 16px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }

  @include responsive(T) {
    &-greeting {
      position: static;
      // margin-bottom: 0;

      .greeting-text {
        cursor: default;
      }

      .more-menu {
        left: 0;
        width: 100%;
      }

      .greeting-btn {
        width: 100%;
        overflow: hidden;
        font-size: 42px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .logout {
      &-title {
        font-size: 20px;
      }

      &-text {
        font-size: 14px;
      }

      &-btn-wrap {
        button {
          padding: 8px 22px;
          font-size: 12px;
        }
      }
    }
  }

  @include responsive(M) {
    padding: 0 15px;

    &-time {
      margin-bottom: 12px;
      font-size: 60px;
    }

    &-greeting {
      .greeting-btn {
        font-size: 22px;
        font-weight: 600;
      }
    }

    &-form {
      bottom: 60px;

      label {
        font-size: 20px;
      }

      input {
        font-size: 24px;
      }
    }

    .greeting-message {
      font-size: 14px;
    }
  }
}
