.todo {
  position: absolute;
  right: 20px;
  bottom: 20px;

  &-contents-wrap {
    width: 100%;
  }

  &.is-active {
    .todo-container {
      opacity: 1;
      visibility: visible;
    }
  }

  &-btn {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &-container {
    @include flexbox(between);
    position: absolute;
    right: 15px;
    bottom: 50px;
    flex-direction: column;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;

    &.more-menu-active {
      min-height: 220px;
    }
  }

  &-header {
    @include flexbox(between);
    width: 100%;
    padding: 20px 20px 16px;

    &-more {
      .todo-more-btn {
        position: relative;
        right: -6px;
        visibility: visible;
      }

      .todo-more-item button {
        @include flexbox(start);

        i {
          margin-right: 5px;
          font-size: 12px;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          opacity: 0.7;
        }

        &:hover {
          span {
            opacity: 1;
          }
        }
      }
    }
  }

  .todo-main {
    display: none;

    &-wrap {
      width: 100%;
      max-height: 500px;
      overflow: visible auto;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 9999px;

        &-thumb {
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 9999px;
        }
      }

      &.more-menu-active {
        min-height: 200px;
      }
    }

    &.is-active {
      display: block;
    }

    &-input {
      width: 100%;
      padding: 12px 20px;
      text-align: left;
      opacity: 0;
      visibility: hidden;

      &.is-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .empty-todo {
    &-content {
      padding: 20px;
    }

    &-text {
      display: none;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);

      &.is-active {
        display: block;
      }
    }

    &-btn {
      padding: 10px 20px;
      font-size: 13px;
      line-height: 1;
      background-color: #4e4e4e;
      border-radius: 9999px;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

      &.hide {
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        background-color: rgba(78, 78, 78, 0.5);
      }
    }
  }

  .exist-todo {
    .todo-item {
      @include flexbox(start, start);
      width: 100%;
      padding: 4px 20px;
      cursor: default;

      &:hover {
        .more-btn {
          opacity: 1;
          visibility: visible;
        }
      }

      &.editing {
        .todo-item-input {
          opacity: 0.5;
        }

        &:hover {
          .more-btn {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      &-contents {
        @include flexbox(start);
        flex: 1;
      }

      .todo-item-checkbox {
        position: relative;
        top: -2px;
        margin-right: 8px;
        opacity: 0.7;

        &:checked + p {
          text-decoration: line-through;
          opacity: 0.7;
        }
      }

      .todo-item-text {
        flex: 1;
        text-align: left;
      }

      .todo-item-input {
        width: 100%;
        height: 1.15em;
        padding: 0;
        text-align: left;
        resize: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .todo-more {
        position: relative;
        left: 6px;

        .more-btn {
          width: 24px;
          height: 24px;

          i {
            font-size: 14px;
          }
        }
      }
    }
  }

  @include responsive(M) {
    right: 0;
    bottom: 0;

    &-container {
      width: calc(100vw - 30px);
    }

    .todo-main {
      &-wrap {
        max-height: 300px;
      }
    }
  }
}
