.main-contents-todo {
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  .todo-message {
    @include pos-center-x(fixed);
    top: -40%;
    padding: 12px 24px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 9999px;
    opacity: 0;
    visibility: hidden;

    &.reveal-message {
      animation: reveal-msg 2s ease-in-out;
    }

    i {
      margin-right: 12px;
    }
  }

  .todo-title {
    margin-bottom: 12px;
    font-size: 22px;
    text-transform: uppercase;
  }

  .todo-contents {
    @include flexbox;

    &:hover {
      label::before,
      .todo-more-btn {
        visibility: visible !important;
      }
    }
  }

  .todo-checkbox:checked {
    & + label {
      span {
        color: rgba(255, 255, 255, 0.85);
        text-decoration: line-through;
      }

      &::before {
        content: '\F633';
        visibility: visible;
      }
    }
  }

  .todo-label {
    @include flexbox;

    span {
      margin: 0 12px;
      font-size: 36px;
    }

    &::before {
      @include flexbox;
      position: relative;
      top: -3px;
      width: 22px;
      height: 22px;
      font-family: bootstrap-icons !important;
      font-weight: 600;
      background-color: rgba(255, 255, 255, 0.12);
      border: 3px solid #fff;
      border-radius: 6px;
      content: '';
      visibility: hidden;
    }
  }

  .todo-more {
    position: relative;

    &-list {
      position: absolute;
      top: 33px;
      right: -80px;
      display: none;
      padding: 12px 8px;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 6px;

      &::before {
        position: absolute;
        top: -18px;
        left: 20px;
        border-top: 9px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 11px solid rgba(0, 0, 0, 0.8);
        border-left: 8px solid transparent;
        content: ''; //tooltip 요소는 가상요소 사용, border로 만듬.
      }
    }

    &-item {
      button {
        @include flexbox(start);
        width: 100px;
        height: 30px;
        padding-left: 8px;
        font-size: 14px;
        border-radius: 6px;

        i {
          position: relative;
          margin-right: 12px;
          font-size: 12px;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    &-btn {
      @include flexbox;
      width: 20px;
      height: 20px;
      visibility: hidden;

      i {
        font-size: 20px;
      }
    }
  }

  @include responsive(T) {
    .todo-label {
      &::before {
        visibility: visible;
      }
    }

    .todo-more-btn {
      visibility: visible;
    }
  }

  @include responsive(M) {
    .todo-message {
      padding: 8px 16px;
      font-size: 16px;
    }

    .todo-title {
      margin-bottom: 8px;
      font-size: 16px;
    }

    .todo-label {
      span {
        font-size: 22px;
      }

      &::before {
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    }
  }
}

@keyframes reveal-msg {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-20px);
  }

  50% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }

  80% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
